body {
  margin: 0;
  background-color: lavender;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

div.SEL {
  width: 960px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

header, footer {
  display: flex;
  background-color: slategray;
}

header {
  display: flex;
  background-color: slategray;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

nav a {
  width: 100%;
  text-align: center;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

section.hero {
  margin: 16px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

section.hero {
  width: 100%;
  margin-top: 0;
  position: relative;
}

/* .hero-text {
  height: 12rem;
  position: absolute;
  background-color: grey;
  color: black;
  top: 25%; 
  left: 25%; 
  right: 25%;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}

.hero-text p {
  text-align: center;
} */

section.Inline-Three img {
  width: 50%;
  float: left;
  padding-right: 16px;
}


section.Inline-Three div {
  width: 50%;
  float: right;
  padding-left: 16px;
}
section.two-item banner{
  width: 50%;
  float: left;
  padding-right: 16px;
}
section.two-item h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

section.two-item p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

section.two-item div {
  width: 50%;
  float: right;
  padding-left: 16px;
}

.button {
  display: block;
  width: 128px;
  text-align: center;
  background-color: gray;
  padding: 20px 48px;
  border-radius: 16px;
  text-decoration: none;
}

footer p {
  text-align: center;
  width: 100%;
  margin: 80px 0px;
}